
{% block content %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  

  <head>
    <header>
      <h1>Valve Details</h1>
    </header>
    {% include 'navbar.html' %}
  </head>
   
  {% include 'messages.html' %}

    <br>

<body>


<div id = "div1">

  <form method="get">

    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.valve_serial_number.label_tag }}
          {% render_field filter.form.valve_serial_number class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.valve_manufacturer.label_tag }}
          {% render_field filter.form.valve_manufacturer class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.valve_type.label_tag }}
          {% render_field filter.form.valve_type class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.valve_seat_type.label_tag }}
          {% render_field filter.form.valve_seat_type class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.valve_size_in.label_tag }}
          {% render_field filter.form.valve_size_in class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.valve_rating.label_tag }}
          {% render_field filter.form.valve_rating class="form-control" %}
        </div>
      </div>
      <p></p>
      <button type="submit" class="btn btn-secondary">
        <span class="glyphicon glyphicon-search"></span> Go
      </button>
    </div>

  </form>

</div>

<p></p>

</body>

<div id = "div2">
  {% load render_table from django_tables2 %}
  {% render_table table %}
</div>



<style>

#div1{

    background-color:bg-light;
    border-radius: 15px;
}

body { width: 1400px; margin: 0 auto; 
  font-size:90%;
}


          /* Add some styles to the header */
          header {
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

</style>


</html>
{% endblock content %}





